
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  
}

.danTeden{
display: grid;
grid-template-columns: repeat(7, 1fr);
}

.ned{
    margin-left: 110px;
}

.pon{
    margin-left: 100px;
}

.tor{
    margin-left: 100px;
}

.sre{
    margin-left: 90px;
}

.cet{
    margin-left: 80px;
}

.pet{
    margin-left: 80px;
}

.sob{
    margin-left: 70px;
}



.dan{
    
}

body{
    height: 1000px;
}

.danTeden{
    margin-top: 20px;
}

.container{
    margin-left:10px;
    margin-right:10px;
}

#leto{
    width: 75%;
    margin-left: 200px;
    background-color: wheat;
    margin-top: 50px;
}

#label{
    margin-left: 200px;
}

#datum{
    width: 75%;
    margin-left: 200px;
    background-color: wheat;
    margin-top: 50px;
}

.containerInput1{
    padding: 50px;
    background-color: yellowgreen;
    border-radius: 1%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.square {
    width: 210px;
    height: 70px;
    background-color: blueviolet;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    color:white;
}

.square-praznik{
    width: 210px;
    height: 70px;
    background-color: yellow;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    color:black;
}

#potrdi1{
    margin-left: 1210px;
}

.select
{
    margin-left: 20px;
}

.square-prejsnji{
    width: 210px;
    height: 70px;
    background-color: gray;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    color:white;
}
.square-izbrani{
    width: 210px;
    height: 70px;
    border-style: solid;
    border-width: 1.5px;
    border-color: lightgreen;
    text-align: center;
}

.square-nedelja{
    width: 210px;
    height: 70px;
    background-color: red;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    justify-content: center;
    color:white;
}

#potrdi2{
    margin-left: 1210px;
    margin-top: 20px;
}

.calContainer{
    background-color: lightpink;
}

#legendaPrazniki{
    margin-left: 500px;
}


#legendaDnevi{
    margin-left: 100px;
}

#legendaPrejsnjiDnevi{
    margin-left: 100px;
}

#legendaNedelje{
    margin-left: 100px;
}

.legendaPrazniki{
    width: 20px;
    height: 20px;
    background-color: yellow;
    margin-top: 5px;
}

.legendaDnevi{
    width: 20px;
    height: 20px;
    background-color: blueviolet;
    margin-top: 5px;
}

.legendaPrejsnjiDnevi{
    width: 20px;
    height: 20px;
    background-color: gray;
    margin-top: 5px;
}

.legendaNedelje{
    width: 20px;
    height: 20px;
    background-color: red;
    margin-top: 5px;
}

small{
    margin-top:5px;
}

table{
    margin-left: 1100px;
}

tr{
    margin-top: 10px;
}

h3{
    margin-left: 45%
}

#zapri{
    margin-left: 45%
}









